.timetable {
  width: 95%;
  display: flex;
  flex-direction: row;
  //   align-items: flex-start;
  padding: 0px;

  margin: auto;
  margin-top: 45px;
}
.list {
  //   width: 300px;
  height: 120px;
  width: 28%;

  display: flex;
  background: #f3f3f3;
  box-shadow: 0px 4px 6px rgba(38, 50, 56, 0.16),
    0px 4px 16px rgba(38, 50, 56, 0.08);
  border-radius: 20px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
}
.day {
  width: 120px;
  height: 120px;
  background: #ffffff;
  border-radius: 20px 0px 0px 20px;
}
.dayofweek {
  height: 17px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #000000;
  margin-top: 9px;
}
.dayofmonth {
  height: 64px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 64px;
  text-align: center;

  /* Môn học/Sử Primary */
}
.monday {
  color: #b5150e;
}
.tuesday {
  color: #2963b4;
}
.wednesday {
  color: #d75a1c;
}
.thurday {
  color: #00939f;
}
.frifay {
  color: #6a4782;
}
.sartuday {
  color: #0369a1;
}
.month {
  height: 17px;

  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  text-align: center;
}
.detail {
  flex: 1;
}
.subject {
  margin-top: 15px;
  margin-left: 20px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* Black */

  color: #2d3436;
}
.lesson {
  margin-left: 20px;
  width: 140px;
  height: 55px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  display: flex;
  align-items: center;

  /* Môn học/Sử Primary */
}

.teacher {
  margin-left: 20px;
  width: 140px;
  height: 18px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* or 183% */

  letter-spacing: 0.3px;
}
