.container {
  width: 100%;
}
.header {
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #000000;
  width: 500px;
  height: 40px;
  margin-top: -5px;
  margin-left: 54px;
}
